<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>   <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>   <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta charset="utf-8">

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
         More info: h5bp.com/i/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Compute Midwest 2012</title>
    <meta name="description" content="Forward-facing technology conference set in the midwest. Speakers, information, and pricing.">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
         chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7]><p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <!-- Add your site or application content here -->

    <nav id="navFloat" class="clearfix">
      <a id="kcitp_reppin" href="http://kcitp.com" target="_blank" alt="KCITP Event Logo" Title="This is a KCITP side event."><img src="img/kcitpEvents_logo.png"></a>
      <hgroup class="sheet">
        <a href="#">
          <img src="img/nav/aboutIcon.png">
          <span>About</span>
        </a>
        <a href="#">
          <img src="img/nav/speakersIcon.png">
          <span>Speakers</span>
        </a>
        <a href="#">
          <img src="img/nav/hackIcon.png">
          <span>Hackathon</span>
        </a>
        <a href="#">
          <img src="img/nav/priceIcon.png">
          <span>Tickets</span>
        </a>
        <a href="#">
          <img src="img/nav/contactIcon.png">
          <span>Contact</span>
        </a>
        <span>|</span>
        <a href="#">
          <img src="img/nav/blogIcon.png">
          <span>Blog</span>
        </a>
      </hgroup>
    </nav>

    <div class="sheet">
      <header>
        <div class="banner clearfix">
          <img class="logo" src="img/CMW_logo.png"/>
          <img class="title" src="img/CMW_logotypeTitle.png"/>
          <a class="registration" href="http://computemidwest.eventbrite.com" target="_blank" title="This will be active soon!"><img src="img/button/register.png"/></a>          
          <div class="clear"></div>
        </div>
        <img class="bg" src="img/bg/hero.jpg" alt="Midwest cities built using electronic components on a circuit board." title="Midwest Tech Rules!">
      </header>

      <section id="about" class="clearfix">
        <img id="aboutBg" src="img/bg/about.jpg"/>
        <div id="aboutContent" class="sheetBound">
          <article id="aboutInfo" class="clearfix">
            <img class="logo" src="img/CMW_logo2.png"/>
            <h1>About Compute Midwest</h1>
            <hr>
            <p>
              Compute Midwest (CMW) is a conference + hackathon in Kansas City, MO that delves into new ideas, emerging technologies, and especially their impact on the Midwest region looking forward.
            </p>
            <p>
               You’ll hear from tech leaders, startup founders, and innovators as they share their vision of the future. Find out where technology is going and discover how Kansas City can capitalize on Google Fiber.
            </p>
            <span>
              Compute Midwest is hosted by 
              <a class="textLink" href="http://www.kcitp.com/" target="_blank">
              Kansas City IT Professionals (KCITP)</a>, a tech community of over 9,000.
              <a id="vageta" href="img/vageta_large.jpg" target="_blank">
                <img src="img/vageta.png">
              </a>
            </span>
          </article>
          <div id="eventInfo">
            <img class="kauffman" src="img/kauffmanPics.gif"/>
            <article>
              <h3>Kickoff Party! Nov. 8th, 2012</h3>
              <p>
                Details to be revealed soon. 
              </p>     
              <h1>Conference Event, Nov. 9, 2012</h1>
              <hr>
              <p>
                Join us on at the beautiful Kauffman Center For Performing Arts.
                <br>
                1601 Broadway Kansas City, MO 64106.
              </p>
              <a href="http://goo.gl/maps/Thi0z" target="_blank">
                <img src="img/button/directions.png"/>
              </a>
              <p>Interesting in becoming a sponsor? <a class="textLink" href="http://www.kcitp.com/sponsor/" target="_blank">Click Here</a></p>
            </article>
          </div>
          <article id="hackathonTeaser" class="clearfix">
            <img class="yeti" src="img/hackathonPics.gif"/>
            <div class="body">
              <h1>Hackathon, Nov. 10th – 11th, 2012</h1>
              <hr>
              <p>
                Developers and designers alike come together to create new ideas at our hackathon for a chance to win awesome prizes, <a class="textLink" href="http://hackthemidwest.com" target="_blank">Hack The Midwest (HTMW)</a> style!
              </p>
              <p>
                Form a team, make some goal, strategize, and crank it out. HTMW had some amazing creations and a great reception so we're spinning up the next event. 
              </p>
              <p>
                Psst...just in case you've ever asked, <a class="textLink" href="http://www.kcitp.com/2012/05/23/confessions-of-a-hackathon-addict/" target="_blank">what is a hackathon?</a>
              </p>
            </div>
          </article>
        </div>
      </section>
      <div class="shadow"></div>

      <section id="speakers" class="clearfix">
        <div class="header">
          <h1 class="sheetBound">List of Speakers</h1>
        </div>
        <article class="sheetBound">
          <ul class="speakers">
          </ul>
        </article>
        <div class="clear"></div>
      </section>

      <script id="speaker" type="text/template">
        <li class="speaker">
          <div class="avatar">
            <img src="<%= m.avatar %>" alt="<%= m.name %>" title="<%= m.name %>"/>
          </div>
          <div class="body">
            <h1 class="name"><%= m.name %></h1>
            <p class="bio"><%= m.bio %></p>
            <ul class="social"><%= socialTemplate(m.social) %></ul>
          </div>
        </li>
      </script>

      <script id="social" type="text/template">
        <li class="channel"><a href="<%= m.url %>" class="<%= m.type %>" target="_blank"><img src="img/social/<%= m.type %>.png"/><%= m.name %></a>
      </script>

    <section id="hackathon" class="clearfix">
      <article class="sheetBound">
        <h1 class="header">Hackathon Info</h1>
        <p>This is stuff, OMG!</p>
      </article>
      <div id="faqWrap" class="sheetBound">
        <h2>Get the FAQ</h2>
        <article>
          <h3>What is a Hackathon?</h3>
          <p>A Hackathon is a fast paced event where teams of developers design and build a software project within a very small timeframe. In the case of CMW, it is a mere 24 hours.</p>
        </article>
        <article>
          <h3>Why would I want to go?</h3>
          <p>Hackathons are a great way to learn, create, and collaborate on the fly - plus there are always prizes too! After <a class="textLink" href="http://hackthemidwest.com">Hack the Midwest</a>, we found that a lot of people really enjoyed the experience and were eager to join the next one. Above all, past hackers said that they enjoyed the fast-paced environment and being about to connect with like-minded people.</p>
        </article>
        <article>
          <h3>Do I need ideas coming in?</h3>
          <p>Nope! Frankly though, everyone always has ideas - whether they think it's a good one or not is another issue. Most attendees usually come up with a basic idea, then their team refines and strategizes around it, honing it into something even better. Plus, if you don't have an idea yourself, you'll be sure to find someone else who has an idea you like as well.</p>
        </article>
      </div><!-- end div.sheetBound -->
    <img id="hackStretch" src="img/hackathon1.png">
    </section>

    <section id="contact" class="clearfix">
      <div id="contactWrapper" class="sheetBound">
        <div class="header">
          <h1>Contact Information</h1>
        </div>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup" class="sheetBound">
        <form action="http://kcitp.us2.list-manage.com/subscribe/post?u=100360bab1adae71d43b9d144&amp;id=63c007a441" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <h2><img src="img/emailIcon.png"> Get email updates</h2>
          <p>Keep up-to-date with the latest! We'll be announcing more and more information in the future.</p>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Your Email Address, Please.</label>
          <br>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
        </div><!-- end #mc_embed_signup -->
        <!--End mc_embed_signup-->
      </div><!-- end #contactWrapper -->
    </section>
    </div><!-- end sheet -->
    <footer>
      <p>We'll roll out more information as it comes available. </p>
    </footer>

    <!-- JavaScript at the bottom for fast page loading: http://developer.yahoo.com/performance/rules.html#js_bottom -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.7.2.min.js"><\/script>')</script>

    <!-- scripts concatenated and minified via build script -->
    <script src="js/jquery.fittext.js"></script>
    <script src="js/vendor/underscore-1.3.3.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <!-- end scripts -->

    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
         mathiasbynens.be/notes/async-analytics-snippet -->
    <script>
        var _gaq=[['_setAccount','UA-7530681-8'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
