<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>   <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>   <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <meta charset="utf-8">

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
         More info: h5bp.com/i/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Compute Midwest 2012</title>
    <meta name="description" content="An emerging technologies and ideas conference + hackathon in Kansas City, MO. Imagine a future, inspired: November 9th - 11th, 2012.">
    <meta name="author" content="Kansas City Information Technology Professionals (KCITP) - http://kcitp.com">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
         chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7]><p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <!-- Add your site or application content here -->

    <nav id="navFloat" class="clearfix">
      <a id="kcitp_reppin" href="http://kcitp.com" target="_blank" alt="KCITP Event Logo" Title="This is a KCITP side event."><img src="img/kcitpEvents_logo.png"></a>
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Join me for @KCITP's emerging #tech conference + hackathon in #KC, Nov 8-11th: http://computemidwest.com" data-via="computemidwest" data-hashtags="computeMW">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=200108316723677";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-like" data-href="http://www.facebook.com/Computemidwest" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>
      <hgroup class="sheet">
        <a href="#about">
          <img src="img/nav/aboutIcon.png">
          <span>About</span>
        </a>
        <a href="#speakers">
          <img src="img/nav/speakersIcon.png">
          <span>Speakers</span>
        </a>
        <a href="#hackathon">
          <img src="img/nav/hackIcon.png">
          <span>Hackathon</span>
        </a>
        <a href="http://computemidwest.eventbrite.com" target="_blank">
          <img src="img/nav/priceIcon.png">
          <span>Register</span>
        </a>
        <a href="#contact">
          <img src="img/nav/contactIcon.png">
          <span>Contact</span>
        </a>
        <span>|</span>
        <a href="http://www.kcitp.com/tag/computemidwest" target="_blank">
          <img src="img/nav/blogIcon.png">
          <span>Blog</span>
        </a>
      </hgroup>
    </nav>

    <div class="sheet">
      <header>
        <div class="banner clearfix">
          <img class="logo" src="img/CMW_logo.png"/>
          <img class="title" src="img/CMW_logotypeTitle.png"/>
          <a class="registration" href="http://computemidwest.eventbrite.com" target="_blank" title="Click here to register!"><img src="img/button/register.png"/></a>          
          <div class="clear"></div>
        </div>
        <div id="bannerWrapper" class="clearfix">
          <a id="conferenceInfo" href="#about"><img src="img/button/conferenceInfo.png"></a>
          <a id="hackathonInfo" href="#hackathon"><img src="img/button/hackathonInfo.png"></a>
        </div>
        <img class="bg" src="img/bg/hero.jpg" alt="Midwest cities built using electronic components on a circuit board." title="Midwest Tech Rules!">
      </header>

      <section id="about" class="clearfix">
        <img id="aboutBg" src="img/bg/about.jpg"/>
        <div id="aboutContent" class="sheetBound">
          <article id="aboutInfo" class="clearfix">
            <img class="logo" src="img/CMW_logo2.png"/>
            <h1>About Compute Midwest</h1>
            <hr>
            <p>
              Compute Midwest is a 2 day convergence of tech: new people, new ideas and innovation in Kansas City.
            </p>
            <p>
               With 1 conference, a hackathon and 2 parties, Compute Midwest provides a fantastic opportunity to connect you with 400+ forward thinking tech minds.
            </p>
            <p>Engage in conversation about the future, exchange/build new ideas and gather several takeaways that can move your career or company forward!</p>
            <span>
              Compute Midwest is hosted by 
              <a class="textLink" href="http://www.kcitp.com/" target="_blank">
              Kansas City IT Professionals</a> (KCITP), a tech community of over 9,000.
              <a id="vageta" href="img/vageta_large.jpg" target="_blank">
                <img src="img/vageta.png">
              </a>
            </span>
          </article>
          <div id="eventInfo">
            <img class="kauffman" src="img/kauffmanPics.gif"/>
            <article>
              <h2>Kickoff Party! Nov. 8th</h2>
              <p>
                6-9pm at <a class="textLink" href="http://www.thecashew.com/" target="_blank">The Cashew</a> - 2000 Grand Kansas City, MO 64108. 
              </p>     
              <h1>Imagine the Future! Nov. 9th</h1>
              <hr>
              <p>
                Get inspired at our conference, happening at the <a class="textLink" href="www.kauffmancenter.org" target="_blank">Kauffman Center for Performing Arts</a>: learn about what's next in technology - straight from tech leaders, startup founders & visionaries.
              </p>
              <p>
                Hear the inspiring stories of innovators who are building companies that change our life, our work & our business.
              </p>
              <p>
                Gain insight into their vision for the future, learn where technology is going and discover how Kansas City can capitalize on <a class="textLink" href="http://fiber.google.com" target="_blank">Google Fiber</a>.
              </p>
              <a href="http://goo.gl/maps/Thi0z" target="_blank">
                <img src="img/button/directions.png">
              </a>
              <p>
                <a class="textLink" href="http://www.kcitp.com/sponsor" target="_blank">Interested in becoming a sponsor?</a>
              </p>
              <h2>Closing Party! Nov. 9th</h2>
              <p>
                8pm-12pm at [Location TBA]. 
              </p>
            </article>
          </div>
          <article id="hackathonTeaser" class="clearfix">
            <img class="yeti" src="img/hackathonPics.gif"/>
            <div class="body">
              <h1>Create the Future! Nov. 10-11th</h1>
              <hr>
              <p>
                Developers & designers will come together on Nov 10th for a 24-hour code-fest focused on building awesome apps with APIs!
              </p>
              <p>
                You’ll share ideas, collaborate and possibly start new ventures! You’ll also discover tools & new APIs to experiment with. 
              </p>
              <p>
                Build your app solo or with a team of up to 5 people. Teams can be pre-organized or find fellow coders to collaborate with at the event! Present it and compete for thousands of dollars in great prizes as well as community recognition!
              </p>
              <p>
                <a href="#hackathon" class="textLink">Click for More Information About the Hackathon</a>
              </p>
            </div>
          </article>
          <h3>Hotel Info</h3>
               <p>
               Traveling to Kansas City? We've arranged a discounted rate!
               </p>
               <p>Stay at the boutique <a href="http://www.holidayinn.com/hotels/us/en/kansas-city/mkccc/hoteldetail?groupCode=KIT" class="textLink" target="_blank">Aladdin Hotel</a> for $109/night, <b>make sure to mention</b> you're attending <b>Compute Midwest</b>!
               </p>
               <br/>
            <h1>Register Today!</h1>
            <hr>
            <p>
              Are you ready to get inspired and help create a more innovative future for Kansas City and the Midwest? <a class="textLink" href="http://computemidwest.eventbrite.com/" target="_blank">Register today!</a>
            </p>
            <br/>
            <p>
            Here's how to <a href="https://www.dropbox.com/s/474habauditz4dz/Company-Business-Justification-Letter.txt" class="textLink" target="_blank">convince your manager to pay</a>
            </p>
          <article>

          </article>
        </div><!-- end #aboutContent -->
      </section>
      <div class="shadow"></div>

      <section id="speakers" class="clearfix">
        <div class="header">
          <h1 class="sheetBound">List of Speakers</h1>
        </div>
        <article class="sheetBound">
          <ul class="speakers">
          </ul>
        </article>
        <div class="clear"></div>
      </section>

      <script id="speaker" type="text/template">
        <li class="speaker">
          <div class="avatar">
            <img src="<%= m.avatar %>" alt="<%= m.name %>" title="<%= m.name %>"/>
          </div>
          <div class="body">
            <h1 class="name"><%= m.name %></h1>
            <p class="bio"><%= m.bio %></p>
            <ul class="social"><%= socialTemplate(m.social) %></ul>
          </div>
        </li>
      </script>

      <script id="social" type="text/template">
        <li class="channel"><a href="<%= m.url %>" class="<%= m.type %>" target="_blank"><img src="img/social/<%= m.type %>.png"/><%= m.name %></a>
      </script>

    <section id="hackathon" class="clearfix">
      <h1 class="header">Hackathon Info</h1>
      <!--
        <article class="sheetBound">
        <h1 class="header">Hackathon Info</h1>
        <img id="bunny" src="img/bunny.png">
        <p>We've got a great hackathon event planned for Compute this year. We've located a great spot for it too. There's more details to come, but let's just say you'll be getting seriously fast internets. *wink, wink* </p>
      -->
      </article>
      <hr>
      <div id="faqWrap" class="sheetBound hackWrap">
        <h2>Get the FAQ</h2>
        <article>
          <h3>What is a Hackathon?</h3>
          <p class="accordionContent">A Hackathon is a fast paced event where teams of developers design and build a software project within a very small timeframe. In the case of CMW, it is a mere 24 hours.</p>
        </article>
        <article>
          <h3>Why would I want to go?</h3>
          <p class="accordionContent">Hackathons are a great way to learn, create, and collaborate on the fly - plus there are always prizes too! After <a class="textLink" href="http://hackthemidwest.com">Hack the Midwest</a>, we found that a lot of people really enjoyed the experience and were eager to join the next one. Above all, past hackers said that they enjoyed the fast-paced environment and being about to connect with like-minded people.</p>
        </article>
        <article>
          <h3>Do I need ideas coming in?</h3>
          <p class="accordionContent">Nope! Frankly though, everyone always has ideas - whether they think it's a good one or not is another issue. Most attendees usually come up with a basic idea, then their team refines and strategizes around it, honing it into something even better. Plus, if you don't have an idea yourself, you'll be sure to find someone else who has an idea you like as well.</p>
        </article>
        <article>
          <h3>Am I only allowed to use the APIs you list?</h3>
          <p class="accordionContent">You can use any APIs you want to build your apps, but if you want to compete for some of the listed prizes - you'll need to use one of those listed APIs. NOTE: We'll have separate prizes awarded for apps that aren't tied to a particular API, and will announce this soon.</p>
        </article>
        <article>
          <h3>Do I have to pre-organize a team?</h3>
          <p class="accordionContent">Not at all. We'll give you a hand finding team members if you don't already have some in mind.</p>
        </article>
        <article>
          <h3>Whoa, I'm not really a hacker, am I?</h3>
          <p class="accordionContent">Who knows, right? Truth is you don't need to know diddly about security holes or meshnets to be a tried and true hacker. In the programming world, a hacker is defined as "a person who enjoys exploring the details of programmable systems and stretching their capabilities, as opposed to most users, who prefer to learn only the minimum necessary." So fire up your favorite IDE and let the bits fly.</p>
        </article>
      </div><!-- end #faqWrap -->
      <hr>
      <div id="prizes" class="sheetBound clearfix">
        <h2>Awesome Prizes</h2>
        <p>You can win prizes one of two ways (or both!).</p>
        <p>The first is a <b>Special Award Category</b> (categories won't be announced until the event). An example might include "Best Open Source app". These <b>aren't</b> tied to usage of a particular API.
        <p>The <b>second</b> way is to use one (or more) of the listed APIs for an attempt to win the corresponding prize</p>
        <article>
          <a href="http://gopro.com/cameras/hd-hero2-motorsports-edition/"><img src="img/prizes/gopro.jpg" alt="The GoPro Hero"></a>
          <h3>HD Hero2 Camera: Motorsports Edition</h3>
          <p>Given to the best app that's been built on the <a href="http://dev.iron.io/" target="_blank">Iron.io API</a>.</p>
        </article>
        <article>
          <a href="http://amazon.com"><img src="img/prizes/amazoncard.jpg" alt="Amazon Gift Card up to $500"></a>
          <h3>Up to $500 of Amazon Gift Cards</h3>
          <p>Given to the best app that's been built on the <a href="http://docs.sendgrid.com/documentation/api/web-api/">Sendgrid API</a>.</p>
        </article>
        <article>
          <a href="http://www.apple.com/iphone"><img src="img/prizes/iphone5.jpg" alt="The iPhone 5"></a>
          <h3>A Brand New Shiny iPhone 5</h3>
          <p>Given to the best app that's been built on the <a href="https://singly.com/docs/api">Singly API</a>.</p>
        </article>
        <article>
          <a href="http://ardrone2.parrot.com/"><img src="img/prizes/parrotAR.jpg" alt="Parrot AR Drone"></a>
          <h3>Parrot AR Drone 2.0</h3>
          <p>Given to the best app that's been built on the <a href="http://pusher.com/docs/rest_api">Pusher API</a>.</p>
        </article>
        <article>
          <img src="img/prizes/Twilio.jpg" alt="Kindle Fire or Sphero">
          <h3>Kindle Fires/Sphero Robots</h3>
          <p>Given to the best app that's been built on the <a href="http://www.twilio.com/docs">Twilio API</a>.</p>
        </article>
        <article>
          <img src="img/prizes/dwolla.jpg" alt="Mystery Prize worth $500">
          <h3>Mystery Prize Worth $500</h3>
          <p>Given to the best app that's been built on the <a href="http://developers.dwolla.com/">Dwolla API</a>.</p>
        </article>
      </div><!-- end #prizes -->
      <hr>
      <article id="apiWrap" class="sheetBound clearfix">
        <h2>API Partners</h2>
        <img src="img/api/dwolla.jpg" title="Dwolla" alt="Dwolla Logo">
        <img src="img/api/ironio.jpg" title="Iron.io" alt="Iron.io Logo">
        <img src="img/api/pusher.jpg" title="Pusher" alt="Pusher Logo">
        <img src="img/api/sendgrid.jpg" title="Sendgrid" alt="Sendgrid Logo">
        <img src="img/api/singly.jpg" title="Singly" alt="Singly Logo">
        <img src="img/api/tumblr.jpg" title="Tumblr" alt="Tumblr Logo">
        <img src="img/api/twilio.jpg" title="Twilio" alt="Twilio Logo">
      </article>
      <hr>
      <div id="ruleWrap" class="sheetBound hackWrap">
        <h2>DA RULES</h2>
        <p>What follows is a summary of the Compute Midwest Hackathon competition rules for contestants. Before entering, you'll be asked to accept the full legal contest rules.</p>
        <article>
          <h3>Programming Languages Aren't Limited</h3>
          <p class="accordionContent">There are no restrictions on the code you use. You'll get mad props though if you can build a cat meme rating app in assembly using VIM.</p>
        </article>
        <article>
          <h3>We Demand Fresh Code</h3>
          <p class="accordionContent">No production assets of any kind can be created until the start of the official competition period illustrated above. This includes "ready to slice" graphic design assets, application code, and user stories / test cases. Some individuals have asked about frameworks and libraries - yes these ARE allowed, but 3rd party only. When in doubt: Plan, don't create.</p>
        </article>
        <article>
          <h3>Team Organization</h3>
          <p class="accordionContent">Your teams should be comprised of between one and five individuals. No more than five people are allowed on a team. You can pre-organize a team or we can try to help you find one at the event.</p>
        </article>
        <article>
          <h3>Time is Ticking - 24 Hours Only</h3>
          <p class="accordionContent">Your team has exactly 24 hours to develop a mobile or web based application. After the initial 24 hours are up, you’ll be judged on what you’ve completed. No additional features or bugfixes are allowed during this period, or you will be disqualified.</p>
        </article>
        <article>
          <h3>Sweet Sweet Source Control</h3>
          <div class="accordionContent">
            <p>We’ll provide your team with a private Git repository, so we can ensure your code is fresh. As you develop your application, push progress to the assigned repository regularly (“commit early, commit often”) in order to demonstrate progress. HackTheMidwest organizers will be observing checkins throughout the event.</p>
            <p>Oh, Don’t be tricky and try to develop your app in its entirety ahead of time, rebasing it and pushing it in at the last minute. Doing so could will get you disqualified. Before the contest ends, you must mark your entry as complete on your assigned Git profile and tag a release of your code with the word ‘ComputeMidwest.’</p>
        </div><!-- end .accordionContent -->
        </article>
        <article>
          <h3>Ownership, IP, and Open Source</h3>
          <div class="accordionContent">
            <p>We’re just running a competition here…..so what you do with your source once the competition is over is on you. We encourage participants to open source the codebase of their applications for the benefit of the community. However, if you choose not to open source your application, well, that’s you decision.</p>
            <p>Please note that the competition organizers will have access to your code base throughout the competition, in order to make sure that no cheating occurs (as outlined previously).</p>
            <p>We won’t steal anything from you, promise! However, we do reserve the right to use your application’s likeness as a promotion for this or future contest.</p>
        </div><!-- end .accordionContent -->
        </article>
        <article>
          <h3>Judging Criterion</h3>
          <div class="accordionContent">
            <p>All judging will occur from the perspective of ‘joe average web jockey’. That is, code quality will not be judged. We believe code quality to be a highly subjective affair, and thorough reviews are extremely time-intensive and not in the best interests of this competition.</p>
            <p>Your application will be judged based on it’s visible merits, such as:</p>
            <ul>
              <li>Completeness</li>
              <li>User Interface</li>
              <li>Originality</li>
              <li>Usefulness</li>
            </ul>
            <p>Each judge (both expert panel members as well as peer judges) will be able to rate each application on a scale of one to five (1-5) on these criteria and comment on recommendations / possible enhancements, errors, and other issues that they experienced.</p> 
            <p>Other judges will be able to review these comments. We strongly encourage contestants to use development best practices but in the end judges are expected to rate applications based on their visible merits.</p>
            <p>Compute Midwest organizers reserve the right to disqualify any team that is believed to be cheating or not competing in the spirit of the competition.</p>
          </div><!-- end .accordionContent -->
        </article>
      </div><!-- end #ruleWrap -->
    <img id="hackStretch" src="img/hackathon1.png">
    </section>

    <section id="sponsors" class="clearfix">
      <article class="sheetBound">
        <h1 class="header">Sponsors</h1>
        <div id="majorSponsors">
          <a href="http://motorola.com" target="_blank">
            <img src="img/sponsors/lg/motorola.jpg"  alt="motorola sponsoship logo">
          </a>
          <a href="http://multiservice.com" target="_blank">
            <img src="img/sponsors/lg/multiservice.jpg" alt="multiservice sponsoship logo">
          </a>
          <a href="http://symantec.com" target="_blank">
            <img src="img/sponsors/lg/symantec.jpg" alt="symantec sponsoship logo">
          </a>
        </div><!-- end #majorSponsors -->
        <div id="midSponsors">
          <a href="http://box.com" target="_blank">
            <img src="img/sponsors/md/box.jpg"  alt="box sponsoship logo">
          </a>
        </div><!-- end #midSponsors -->
        <div id="minorSponsors">
          <a href="http://adventuretech.com" target="_blank">
            <img src="img/sponsors/sm/adventuretech.jpg" alt="adventuretech sponsoship logo">
          </a>
          <a href="http://codero.com" target="_blank">
            <img src="img/sponsors/sm/codero.jpg" alt="codero sponsoship logo">
          </a>
          <a href="http://ingenology.com" target="_blank">
            <img src="img/sponsors/sm/ingenology.jpg" alt="ingenology sponsoship logo">
          </a>
        </div><!-- end #minorSponsors -->
      </article>
    </section>

    <section id="contact" class="clearfix">
      <div id="contactWrapper" class="sheetBound">
        <div class="header">
          <h1>Contact Information</h1>
        </div>
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="http://kcitp.us2.list-manage.com/subscribe/post?u=100360bab1adae71d43b9d144&amp;id=63c007a441" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <h2><img src="img/emailIcon.png"> Get email updates</h2>
          <p>Keep up-to-date with the latest! We'll be announcing more and more information in the future.</p>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Your Email Address, Please.</label>
          <br>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
        </div><!-- end #mc_embed_signup -->
        <!--End mc_embed_signup-->
        <div id="socials">
          <h2>Stay in the Loop</h2>
          <p>We'll be sending updates across our social media channels. Feel free to connect with us in order to stay up to date.</p>
          <p>Thanks for the interest!</p>
          <a href="http://facebook.com/computemidwest" target="_blank"><img src="img/social/facebook.png">Facebook</a>
          <a href="http://twitter.com/computemidwest" target="_blank"><img src="img/social/twitter.png">Twitter</a>
        </div><!-- end #socials -->
      </div><!-- end #contactWrapper -->
    </section>
    </div><!-- end sheet -->
    <footer>
      <h2>We'll roll out more information as it comes available. </h2>
      <div id="props">
        <span>Compute Midwest is presented by <a class="textLink" href="http://kcitp.com" target="_blank">KCITP</a>.</span>
        <span>Website and branding was completed by the awesome folks at <a class="textLink" href="http://bea.cr" target="_blank">Beasley Creative</a>.</span>
      </div><!-- end #props -->
    </footer>

    <!-- JavaScript at the bottom for fast page loading: http://developer.yahoo.com/performance/rules.html#js_bottom -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.7.2.min.js"><\/script>')</script>

    <!-- scripts concatenated and minified via build script -->
    <script src="js/jquery.fittext.js"></script>
    <script src="js/vendor/underscore-1.3.3.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <!-- end scripts -->

    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
         mathiasbynens.be/notes/async-analytics-snippet -->
    <script>
        var _gaq=[['_setAccount','UA-7530681-8'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
